<div class="seller-auth">
  <div *ngIf="!showLogin" class="signup">
    <h1>Seller sign-up</h1>
    <!-- we create a local reference assign it to ngform to track the formand its input fields state to check if the form is valid or not
    and by assigning ngform to the local reference sellersignup we have access to the form state and values in the components class -->
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signup(sellerSignUp.value)"
      class="common-form"
    >
      <!-- on the ngsubmit we add () to indicate event binding which allows us to specify a method called when the event occurs on the html
    and the ngsubmut is bound to the sellersingup and the .value is used ot pass the forms values into the method  -->
      <input
        class="form-input"
        ngModel
        name="name
      "
        type="text"
        placeholder="Enter Name"
      />
      <input
        class="form-input"
        ngModel
        name="password
      "
        type="password"
        placeholder="Enter password"
      />
      <input
        class="form-input"
        ngModel
        name="email"
        type="text"
        placeholder="Enter email"
      />
      <button class="form-button btn btn-dark">Sign up</button>
      <a class="acount" (click)="openLogin()"
        >Don't have Account? Click to Register!</a
      >
    </form>
  </div>

  <!-- Login -->

  <div *ngIf="showLogin" class="signup">
    <h1>Seller Log-in</h1>
    <p class="error">{{ authError }}</p>
    <!-- we create a local reference assign it to ngform to track the formand its input fields state to check if the form is valid or not
    and by assigning ngform to the local reference sellersignup we have access to the form state and values in the components class -->
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      class="common-form"
    >
      <!-- on the ngsubmit we add () to indicate event binding which allows us to specify a method called when the event occurs on the html
        and the ngsubmut is bound to the sellersingup and the .value is used ot pass the forms values into the method  -->
      <input
        class="form-input"
        ngModel
        name="email"
        type="text"
        placeholder="Enter email"
      />

      <input
        class="form-input"
        ngModel
        name="password
      "
        type="password"
        placeholder="Enter password"
      />
      <button class="form-button btn btn-dark">Log in</button>
      <a class="acount" (click)="openSignUp()"
        >Already have Account? Click to Login!</a
      >
    </form>
  </div>
</div>
